<div class="container">
  <div class="row">
    <div class="col">
      <h1>Randkowa</h1>
    </div>
  </div>
  <div class="row">
    
    <div class="col">
      Witaj w aplikacj i randkowowej
      
      <cards></cards>
    </div>
    
  </div>
</div>
